DB_NAME=kokoro_db
DB_USERNAME=kokoro
DB_PASSWORD=kokoroSuperSecurePassword
DB_PORT=5432
DB_HOST=localhost
JWT_SECRET=SomeRandomSecretButItHasToBe32BitsOrLonger
MAIL_USERNAME=noreply@kokoro.health
MAIL_PASSWORD=yourSmtpPassword
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_STARTTLS_ENABLE=false
VAULT_TOKEN=44e516edbf71afa85b1d962b20220052070286539fd2dc64f955afe58115de20
VAULT_URI=http://localhost:8200