DB_NAME=kokoro_db
DB_USERNAME=kokoro
DB_PASSWORD=kokoroSuperSecurePassword
DB_PORT=5432
DB_HOST=localhost
JWT_SECRET=SomeRandomSecretButItHasToBe32BitsOrLonger
MAIL_USERNAME=noreply@kokoro.health
MAIL_PASSWORD=yourSmtpPassword
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_STARTTLS_ENABLE=false
