DB_NAME=kokoro
DB_USERNAME=kokoro
DB_PASSWORD=password
DB_PORT=5432
DB_HOST=localhost
JWT_SECRET=SomeRandomSecretButItHasToBe32BitsOrLonger
MAIL_USERNAME=noreply@kokoro.health
MAIL_PASSWORD=yourSmtpPassword
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_STARTTLS_ENABLE=false
STORAGE_PATH=./files
FRONTEND_URL=http://localhost:5173
ENCRYPTION_KEY=e2hUse2fsjwxBDcVkpjw9NO+r25WLoYl4MF1yspws+A=
